.video_ad {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px
}

.video_ad-icon {
    width: 27px;
    height: 16px;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
    color: #fff;
    line-height: 16px;
    text-align: center
}

.video_ad-close {
    width: 20px;
    height: 20px;
    background: url(http://www.qiyipic.com/common/fix/videoplay/video_close.png) no-repeat;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer
}

.video_pause {
    width: 124px;
    height: 42px;
    background-color: rgba(0, 0, 0, .8);
    padding: 7px 10px 7px 46px;
    position: absolute;
    right: 20px;
    bottom: 50px
}

.video_pause-icon {
    width: 67px;
    height: 56px;
    background: url(http://www.qiyipic.com/common/fix/videoplay/video_pause.png) no-repeat;
    position: absolute;
    left: -28px;
    top: 0
}

.video_pause p {
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #fff;
    text-align: left
}

.video_pause-progress {
    width: 0;
    height: 56px;
    background-color: rgba(108, 201, 0, .5);
    position: absolute;
    left: 0;
    top: 0
}

.public-time {
    position: absolute;
    z-index: 100;
    background: rgba(26, 26, 26, .7);
    border-radius: 20px;
    padding: 0 15px;
    width: auto !important;
    right: 20px;
    top: 20px
}

.public-time,
.public-time .cd-time {
    height: 30px;
    line-height: 30px;
    text-align: center
}

.public-time .cd-time {
    width: 28px;
    font: 20px/1.5 ds-digital !important;
    top: 1px !important;
    color: #fff
}

.public-time .cd-time,
.public-time a {
    display: inline-block;
    position: relative
}

.public-time a {
    height: 30px;
    line-height: 30px
}

.public-time .public-vip {
    margin-left: 8px;
    color: #fff;
    font-size: 14px
}

.public-time .public-vip:hover {
    color: #57a900
}

.public-vip .vip-marketing-doc {
    display: inline-block;
    margin-left: 8px;
    height: 30px;
    line-height: 30px;
    color: #c5955d;
    white-space: nowrap
}

.public-vip:hover .public-vip-text,
.public-vip:hover .vip-marketing-doc {
    color: #57a900
}

.public-time .public-vip span {
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    vertical-align: bottom
}

.public-time .vip-doc-wrap {
    display: inline-block;
    width: 0;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    transition: width 2s;
    -webkit-transition: width 2s
}

.tp_vip-show {
    width: 623px;
    height: 56px;
    line-height: 56px;
    color: #c89e6c;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(http://www.qiyipic.com/common/fix/view-tp/command.png) no-repeat;
    overflow: hidden;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://www.qiyipic.com/common/fix/view-tp/command.png")
}

.tp_vip-show .tp_vip-gif {
    float: left;
    width: 67px;
    height: 56px;
    background: url(http://www.qiyipic.com/common/fix/view-tp/vip-tp.gif) no-repeat
}

.tp_vip-close {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 169px;
    height: 30px;
    border-radius: 2px;
    background-color: #434343
}

.tp_close-time {
    float: left;
    width: 50px;
    border-right: 1px solid #131313;
    text-align: center;
    color: #c89e6c;
    font: 22px/30px ds-digital !important
}

.tp_close-txt {
    float: left
}

.tp_close-txt a {
    display: inline-block;
    width: 117px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-left: 1px solid #3c3c3c
}

.tp_close-txt a:hover {
    color: #c89e6c
}

.tp_vip-time {
    top: 28px;
    right: 10px;
    width: 50px;
    height: 30px;
    text-align: center;
    color: #bbb;
    font: 22px/30px ds-digital !important
}

.tp_vip-nointerest,
.tp_vip-time {
    position: absolute;
    background-color: #333;
    background: rgba(51, 51, 51, .9);
    filter: alpha(opacity=90);
    border-radius: 2px
}

.tp_vip-nointerest {
    top: 15px;
    right: 75px;
    width: 151px;
    height: 55px
}

.tp_nointerest-top {
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 14px
}

.tp_nointerest-btm {
    color: #999;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    float: left
}

.tp_nointerest-btm span {
    float: left;
    width: 40px;
    height: 20px;
    color: #5aa700;
    font: 25px/20px ds-digital !important
}

.tp_vip-detial {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 112px;
    height: 35px;
    background-color: #333;
    background: rgba(51, 51, 51, .5);
    filter: alpha(opacity=50);
    border-radius: 2px
}

.tp_vip-detial a {
    display: inline-block;
    width: 103px;
    height: 35px;
    line-height: 35px;
    padding-left: 9px;
    color: #fff;
    font-size: 16px
}

.tp_vip-detial span {
    position: absolute;
    right: 5px;
    top: 6px;
    width: 23px;
    height: 23px;
    background: url(http://www.qiyipic.com/common/fix/view-tp/detial.png) no-repeat;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://www.qiyipic.com/common/fix/view-tp/detial.png")
}

.tp_vip-detial a:hover,
.tp_vip-free a:hover {
    color: #5aa700
}

.tp_vip-detial a:hover span {
    background: url(http://www.qiyipic.com/common/fix/view-tp/detialhover.png) no-repeat;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://www.qiyipic.com/common/fix/view-tp/detialhover.png")
}

.tp_vip-time1 {
    top: 15px
}

.tp_vip-free {
    position: absolute;
    top: 15px;
    right: 75px;
    text-align: center;
    background-color: #333;
    background: rgba(51, 51, 51, .9);
    filter: alpha(opacity=90);
    border-radius: 2px
}

.tp_vip-free a {
    display: inline-block;
    width: 131px;
    height: 30px;
    line-height: 30px;
    color: #999;
    font-size: 14px
}

.tp_disable-skip {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 30px;
    border-radius: 2px
}

.tp_disable-skip-txt {
    float: left;
    padding: 0 10px;
    background-color: #434343;
    border-radius: 2px
}

.tp_disable-skip-txt a {
    display: inline-block;
    line-height: 30px;
    color: #999;
    font-size: 14px;
    text-align: center
}

.tp_disable-skip-time {
    float: left;
    margin-left: 10px;
    width: 35px;
    border-radius: 2px;
    text-align: center;
    color: #999;
    background-color: #434343;
    font: 16px/30px ds-digital !important
}

.tp_disable-skip-txt .tp_disable-skip-detail {
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 5px;
    color: grey;
    border: 1px solid;
    border-color: grey;
    border-radius: 8px
}

.tp_disable-skip-detail:hover {
    color: #999;
    border-color: #999
}

.video_ad-buy {
    height: 90px;
    border: 1px solid #66666f;
    border-radius: 1px;
    background: rgba(0, 0, 0, .7)
}

.buy-pic,
.buy-txt {
    float: left;
    height: 90px
}

.buy-pic a {
    display: inline-block;
    height: 90px
}

.buy-txt {
    width: 176px;
    height: 60px;
    padding: 15px
}

.buy-txt h3 {
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 4px
}

.buy-detial {
    overflow: hidden
}

.detial-price {
    float: left;
    color: #fe6e16;
    line-height: 28px
}

.detial-price,
.detial-price span {
    font-size: 16px
}

a.detial-btn {
    float: right;
    width: 84px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #5ca500;
    border-radius: 2px
}

.detial-btn:hover,
.video-baozhang-btn a:hover {
    background: #66b500
}

.video_buy-icon {
    width: 35px;
    height: 20px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center
}

.video_buy-close {
    width: 8px;
    height: 8px;
    background: url(http://www.qiyipic.com/common/fix/videoplay/close.png) no-repeat;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer
}

.video_buy-close:hover {
    background-position: -10px 0
}

.cupid-panel {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    background: #272728;
    color: #999;
    z-index: 1000
}

.cupid-common-panel {
    width: 380px;
    height: 180px;
    margin-left: -190px;
    margin-top: -90px
}

.feedback-panel {
    position: fixed;
    z-index: 1000;
    width: 480px;
    height: 360px;
    margin-left: -240px;
    margin-top: -180px;
    background: #000;
    border-radius: 15px
}

.cupid-panel-close {
    width: 8px;
    height: 8px;
    background: url(http://www.qiyipic.com/common/fix/videoplay/close.png) no-repeat;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer
}

.cupid-panel-body {
    padding: 25px;
    font-size: 14px
}

.cupid-panel-footer {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 20px
}

.cupid-panel-btn {
    display: block;
    width: 120px;
    height: 35px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 3px
}

.cupid-panel-btn:hover {
    background: #fff
}

.feedback-submit {
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
    background: #7ab400
}

.cupid-panel label {
    display: block;
    color: #999;
    font-family: \\5FAE\8F6F\96C5\9ED1;
    font-size: 12px
}

.cupid-panel fieldset {
    margin: 0 5px
}

.feedback-input {
    display: block;
    height: 24px
}

.feedback-detail,
.feedback-input {
    width: 400px;
    margin: 10px 0;
    font-size: 12px;
    font-family: \\5FAE\8F6F\96C5\9ED1;
    outline: none;
    color: #999;
    background: #444;
    border: 0
}

.feedback-detail {
    height: 80px;
    max-height: 80px;
    resize: none
}

.feedback-tip {
    display: none;
    margin: 0 5px;
    color: #7ab400
}

.ares-tip {
    position: absolute;
    z-index: 1000
}

.ares-tip .ares-tip-body {
    padding: 10px;
    text-align: center
}

.ares-tip-basic {
    padding: 5px 0
}

.ares-tip-basic .ares-tip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #000;
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent
}

.ares-tip-basic .ares-tip-body {
    background: #000;
    color: #fff
}

.ares-tip-border {
    padding: 6px 0
}

.ares-tip-border .ares-tip-head {
    border: 7px dashed transparent;
    border-bottom: 7px solid #ddd;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -5px
}

.ares-tip-border .ares-tip-head .ares-tip-arrow {
    position: absolute;
    border: 6px dashed transparent;
    border-bottom: 6px solid #fafafa;
    left: -6px;
    top: -5px
}

.ares-tip-border .ares-tip-body {
    background: #fafafa;
    border: 1px solid #ddd
}

.ares-tip {
    width: 422px
}

.app-wrapper {
    border: 1px solid #505050;
    display: block;
    width: 278px;
    float: right;
    background-color: #444
}

.app-box {
    height: 39px;
    border-radius: 5px;
    margin: 6px 10px 6px 11px
}

.app-wrapper img {
    width: 38px;
    height: 38px;
    border-radius: 8px;
    float: left
}

.app-info {
    margin-left: 48px;
    margin-right: 85px
}

.app-title {
    font-size: 15px;
    height: 20px;
    color: #ddd;
    font-weight: 600
}

.app-description,
.app-title {
    line-height: 20px;
    overflow: hidden
}

.app-description {
    font-size: 12px;
    height: 17px;
    color: #999
}

.app-btn {
    margin-top: 6px;
    float: right;
    border-radius: 3px;
    border-bottom: 2px solid #517b00;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, .25), 1px 1px 4px hsla(0, 0%, 100%, .1);
    display: inline-block;
    line-height: 24px;
    height: 25px;
    width: 72px;
    font-size: 14px;
    text-align: center
}

.app-popup a,
.app-wrapper a {
    color: #699f00
}

.app-highlight {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #699f00
}

.app-popup .reverse,
.app-wrapper .reverse {
    background-color: #699f00;
    color: #fff
}

.app-popup {
    line-height: 30px;
    text-align: left;
    font-size: 15px;
    margin: 7px 0 7px 20px;
    width: 390px
}

.app-popup:after,
.app-popup div:after {
    clear: both;
    display: block;
    content: ""
}

.app-section {
    width: 180px
}

.app-right {
    margin-left: 180px
}

.app-small {
    font-size: 12px;
    color: #777;
    line-height: 12px
}

.app-qrcode {
    padding: 10px 20px 0;
    box-shadow: 1px 2px 8px 1px hsla(0, 0%, 49%, .25), 1px 1px 4px hsla(0, 0%, 100%, .1);
    text-align: center;
    float: left
}

.app-download {
    padding: 0 15px;
    text-align: center;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 700;
    display: inline-block;
    line-height: 29px
}

.app-popup-text1 {
    font-weight: 700;
    color: #666
}

.app-download-box {
    padding-bottom: 14px
}

.app-mb10 {
    margin-bottom: 10px
}

.theatre-transition {
    transition: all .7s cubic-bezier(.46, .98, .54, 1.1)
}

.theatre-label {
    width: 90px;
    font-size: 22px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 5px
}

.theatre-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 1px 0;
    width: 100%;
    position: relative;
    overflow: hidden
}

.theatre-container img {
    display: block
}

.theatre-carousel-wrapper {
    height: 100px;
    overflow: hidden;
    margin: 0 auto
}

.theatre-carousel-box {
    width: 5000px;
    height: 130px;
    margin-left: -2px;
    display: inline-block;
    line-height: 0
}

.theatre-hover .theatre-banner {
    opacity: 1
}

.theatre-item {
    width: 210px;
    overflow: hidden;
    transition: all .7s cubic-bezier(.46, .98, .54, 1.1);
    float: left;
    margin: 0 2.5px;
    background-color: #fff;
    cursor: pointer
}

.theatre-no-width {
    width: 0;
    margin: 0
}

.theatre-container .theatre-hover {
    width: 1070px;
    z-index: 100
}

.theatre-expand {
    width: 1070px
}

.theatre-left {
    float: left;
    width: 210px
}

.theatre-left img {
    width: 100%
}

.theatre-poster {
    height: 100px
}

.theatre-logo {
    height: 40px
}

.theatre-right {
    float: left;
    margin-left: 5px
}

.theatre-banner {
    opacity: 0;
    transition: all .7s cubic-bezier(.46, .98, .54, 1.1);
    width: 855px
}

.theatre-arrow {
    width: 32px;
    height: 40px;
    cursor: pointer;
    text-indent: -999px;
    position: absolute;
    top: 50%;
    margin-top: -20px
}

.theatre-arrow-left {
    left: 0;
    background: url("http://pic3.qiyipic.com/common/20180123/arrow-left.png") no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-left.png");
    _background: 0
}

.theatre-arrow-left:hover {
    background: url("http://pic3.qiyipic.com/common/20180123/arrow-left-hover.png") no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-left-hover.png");
    _background: 0
}

.theatre-arrow-right {
    right: 0;
    background: url("http://pic3.qiyipic.com/common/20180123/arrow-right.png") no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-right.png");
    _background: 0
}

.theatre-arrow-right:hover {
    background: url("http://pic3.qiyipic.com/common/20180123/arrow-right-hover.png") no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-right-hover.png");
    _background: 0
}

.qy-1335 .theatre-label {
    width: 90px;
    font-size: 22px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 5px
}

.qy-1335 .theatre-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 1px 0;
    width: 100%;
    position: relative;
    overflow: hidden
}

.qy-1335 .theatre-container img {
    display: block
}

.qy-1335 .theatre-carousel-wrapper {
    height: 86px;
    overflow: hidden;
    margin: 0 auto
}

.qy-1335 .theatre-carousel-box {
    width: 5000px;
    height: 130px;
    margin-left: -2px;
    display: inline-block;
    line-height: 0
}

.qy-1335 .theatre-hover .qy-1335 .theatre-banner {
    opacity: 1
}

.qy-1335 .theatre-item {
    width: 180px;
    overflow: hidden;
    transition: all .7s cubic-bezier(.46, .98, .54, 1.1);
    float: left;
    margin: 0 2.5px;
    background-color: #fff;
    cursor: pointer
}

.qy-1335 .theatre-no-width {
    width: 0;
    margin: 0
}

.qy-1335 .theatre-hover {
    width: 920px;
    z-index: 100
}

.qy-1335 .theatre-expand {
    width: 920px
}

.qy-1335 .theatre-left {
    float: left;
    width: 180px
}

.qy-1335 .theatre-left img {
    width: 100%
}

.qy-1335 .theatre-poster {
    height: 86px
}

.qy-1335 .theatre-logo {
    height: 40px
}

.qy-1335 .theatre-right {
    float: left;
    margin-left: 5px
}

.qy-1335 .theatre-banner {
    opacity: 0;
    transition: all .7s cubic-bezier(.46, .98, .54, 1.1);
    width: 735px;
    height: 86px
}

.qy-1335 .theatre-arrow {
    width: 32px;
    height: 40px;
    cursor: pointer;
    text-indent: -999px;
    position: absolute;
    top: 50%;
    margin-top: -20px
}

.qy-1335 .theatre-arrow-left {
    left: 0;
    background: url("http://pic3.qiyipic.com/common/20180123/arrow-left.png") no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-left.png");
    _background: 0
}

.qy-1335 .theatre-arrow-left:hover {
    background: url("http://pic3.qiyipic.com/common/20180123/arrow-left-hover.png") no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-left-hover.png");
    _background: 0
}

.qy-1335 .theatre-arrow-right {
    right: 0;
    background: url("http://pic3.qiyipic.com/common/20180123/arrow-right.png") no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-right.png");
    _background: 0
}

.qy-1335 .theatre-arrow-right:hover {
    background: url("http://pic3.qiyipic.com/common/20180123/arrow-right-hover.png") no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-right-hover.png");
    _background: 0
}

@media screen and (min-width:1336px) {
    .theatre-label {
        width: 90px;
        font-size: 22px;
        text-align: center;
        line-height: 22px;
        margin-bottom: 5px
    }
    .theatre-container {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 10px 1px 0;
        width: 100%;
        position: relative;
        overflow: hidden
    }
    .theatre-container img {
        display: block
    }
    .theatre-carousel-wrapper {
        height: 100px;
        overflow: hidden;
        margin: 0 auto
    }
    .theatre-carousel-box {
        width: 5000px;
        height: 130px;
        margin-left: -2px;
        display: inline-block;
        line-height: 0
    }
    .theatre-hover .theatre-banner {
        opacity: 1
    }
    .theatre-item {
        width: 210px;
        overflow: hidden;
        transition: all .7s cubic-bezier(.46, .98, .54, 1.1);
        float: left;
        margin: 0 2.5px;
        background-color: #fff;
        cursor: pointer
    }
    .theatre-no-width {
        width: 0;
        margin: 0
    }
    .theatre-container .theatre-hover {
        width: 1070px;
        z-index: 100
    }
    .theatre-expand {
        width: 1070px
    }
    .theatre-left {
        float: left;
        width: 210px
    }
    .theatre-left img {
        width: 100%
    }
    .theatre-poster {
        height: 100px
    }
    .theatre-logo {
        height: 40px
    }
    .theatre-right {
        float: left;
        margin-left: 5px
    }
    .theatre-banner {
        opacity: 0;
        transition: all .7s cubic-bezier(.46, .98, .54, 1.1);
        width: 855px
    }
    .theatre-arrow {
        width: 32px;
        height: 40px;
        cursor: pointer;
        text-indent: -999px;
        position: absolute;
        top: 50%;
        margin-top: -20px
    }
    .theatre-arrow-left {
        left: 0;
        background: url("http://pic3.qiyipic.com/common/20180123/arrow-left.png") no-repeat;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-left.png");
        _background: 0
    }
    .theatre-arrow-left:hover {
        background: url("http://pic3.qiyipic.com/common/20180123/arrow-left-hover.png") no-repeat;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-left-hover.png");
        _background: 0
    }
    .theatre-arrow-right {
        right: 0;
        background: url("http://pic3.qiyipic.com/common/20180123/arrow-right.png") no-repeat;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-right.png");
        _background: 0
    }
    .theatre-arrow-right:hover {
        background: url("http://pic3.qiyipic.com/common/20180123/arrow-right-hover.png") no-repeat;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-right-hover.png");
        _background: 0
    }
}

@media screen and (max-width:1335px) {
    .theatre-label {
        width: 90px;
        font-size: 22px;
        text-align: center;
        line-height: 22px;
        margin-bottom: 5px
    }
    .theatre-container {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 10px 1px 0;
        width: 100%;
        position: relative;
        overflow: hidden
    }
    .theatre-container img {
        display: block
    }
    .theatre-carousel-wrapper {
        height: 86px;
        overflow: hidden;
        margin: 0 auto
    }
    .theatre-carousel-box {
        width: 5000px;
        height: 130px;
        margin-left: -2px;
        display: inline-block;
        line-height: 0
    }
    .theatre-hover .theatre-banner {
        opacity: 1
    }
    .theatre-item {
        width: 180px;
        overflow: hidden;
        transition: all .7s cubic-bezier(.46, .98, .54, 1.1);
        float: left;
        margin: 0 2.5px;
        background-color: #fff;
        cursor: pointer
    }
    .theatre-no-width {
        width: 0;
        margin: 0
    }
    .theatre-container .theatre-hover {
        width: 1070px;
        z-index: 100
    }
    .theatre-expand {
        width: 1070px
    }
    .theatre-left {
        float: left;
        width: 180px
    }
    .theatre-left img {
        width: 100%
    }
    .theatre-poster {
        height: 86px
    }
    .theatre-logo {
        height: 40px
    }
    .theatre-right {
        float: left;
        margin-left: 5px
    }
    .theatre-banner {
        opacity: 0;
        transition: all .7s cubic-bezier(.46, .98, .54, 1.1);
        width: 735px
    }
    .theatre-arrow {
        width: 32px;
        height: 40px;
        cursor: pointer;
        text-indent: -999px;
        position: absolute;
        top: 50%;
        margin-top: -20px
    }
    .theatre-arrow-left {
        left: 0;
        background: url("http://pic3.qiyipic.com/common/20180123/arrow-left.png") no-repeat;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-left.png");
        _background: 0
    }
    .theatre-arrow-left:hover {
        background: url("http://pic3.qiyipic.com/common/20180123/arrow-left-hover.png") no-repeat;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-left-hover.png");
        _background: 0
    }
    .theatre-arrow-right {
        right: 0;
        background: url("http://pic3.qiyipic.com/common/20180123/arrow-right.png") no-repeat;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-right.png");
        _background: 0
    }
    .theatre-arrow-right:hover {
        background: url("http://pic3.qiyipic.com/common/20180123/arrow-right-hover.png") no-repeat;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://pic3.qiyipic.com/common/20180123/arrow-right-hover.png");
        _background: 0
    }
}

.cupid-badge {
    width: 27px;
    height: 16px;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    font-size: 10px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    z-index: 100
}

.cupid-close {
    width: 20px;
    height: 20px;
    background: url(//www.qiyipic.com/common/fix/videoplay/video_close.png) no-repeat;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer
}

.cupid-summary-panel {
    font-family: monospace\, consolas;
    padding: 10px
}

.cupid-summary-panel ul {
    padding-left: 40px
}

.cupid-seed-play-btn {
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(//pic1.qiyipic.com/common/20180327/cupid-minseed-play.png) no-repeat;
    cursor: pointer;
    z-index: 99
}